/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: monospace;
  background: #d4d6dd;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
button{
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
button:hover{
  color: white;
  background: black;
  border-radius: 15px;
  transition: 1s;
}
/*  global classes */

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10rem;
  width: 50%;
  background: #fdfdfd;
  padding: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
/* form */
.todo-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}
h1{
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.form-control{
  width: 100%;
  background: #eeeeee;
  border-radius: 15px;
  display: flex;
}
.form-control input{
  padding: 1em 2em;
  width: 85%;
  font-size: 0.8rem;
  outline: none;
  border: none;
  background: transparent;
  border-radius: 15px;
}
.form-control input:focus{
  background-color: #dedede;
}
.form-control button{
  width: 15%;
}

/* todo Container */
.todo-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  visibility: hidden;
}
.todo-list{
  width: 100%;
  display: flex;
  flex-direction: column;

}
.todo-item{
  display: flex;
  align-items: center;
  width: 100%;
}
.title{
  width: 80%;
  font-size: 1.3rem;
}
.todo-btn-container{
  width: 20%;
  display: flex;
}
.todo-btn-container button{
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 1.2rem;
}
.edit-btn{
  color: limegreen;
}
.edit-btn:hover{
  background: limegreen;
}
.delete-btn{
  color: red;
}
.delete-btn:hover{
  background: red;
}
.clear-all{
  padding: 1em;
  font-size: 1rem;
  color: red;
}
.clear-all:hover{
  background: red;
}
