/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: monospace;
  background: #d4d6dd;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
button{
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
button:hover{
  color: white;
  background: black;
  border-radius: 15px;
  transition: 0.5s;
}
/*  global classes */

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10rem;
  width: 80%;
  background: #fdfdfd;
  padding: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}
/* form */
.red{
  background: red;
  color: white;
}
.green{
  background: limegreen;
  color: white;
}
.alert{
  font-size: 1.2rem;
  width: 100%;
  padding: 0.3em 0;
  text-align: center;
  border-radius: 15px;
}
.todo-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}
h1{
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.form-control{
  width: 100%;
  background: #eeeeee;
  border-radius: 15px;
  display: flex;
}
.form-control input{
  padding: 1em 2em;
  width: 85%;
  font-size: 0.8rem;
  outline: none;
  border: none;
  background: transparent;
  border-radius: 15px;
}
.form-control input:focus{
  background-color: #dedede;
}
.form-control button{
  width: 15%;
  font-size: 1rem;
}

/* Task Info */
.task-info{
  display: flex;
}
.task-info p{
  padding: 0 1rem;
  font-size: 1rem;
  border-right: 1px solid black;
  cursor: pointer;
  color: gray;
}
.task-info p:hover{
  color: black;
}
.task-info p span{
  font-weight: bold;
  color: black;
}

/* todo Container */
.todo-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  visibility: hidden;
}
.visibility{
  visibility: visible;
}
.display-none{
  display: none !important;
}
.todo-list{
  width: 100%;
  display: flex;
  flex-direction: column;

}
.todo-item{
  display: flex;
  align-items: center;
  width: 100%;
}
.check-btn{
  width: 7%;
  padding: 1em;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
}
.check{
  text-decoration: line-through;
}
.title{
  width: 79%;
  font-size: 1.3rem;
  padding: 0 0.5em;
}
.todo-btn-container{
  width: 14%;
  display: flex;
}
.todo-btn-container button{
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 1em;
  font-size: 1.2rem;
}
.edit-btn{
  color: limegreen;
}
.edit-btn:hover{
  background: limegreen;
}
.delete-btn{
  color: red;
}
.delete-btn:hover{
  background: red;
}
.delete-all{
  padding: 1em;
  font-size: 1rem;
  color: red;
}
.delete-all:hover{
  background: red;
}
